body {
  color: white;
  background-color: darkblue;
 }
 
.resultado {
  color: yellow;
  background-color: darkred;
 }

 .votaciones {
  color: black;
  background-color: cyan;
 }

 table {
  width: 50%; 
  margin: 0 auto;
 }

 table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
